.List {
  z-index: 0;
}

.ListItemEven,
.ListItemOdd {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.ListItemEven {
  background-color: #eef6fc;
}
