.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.imageWrapper{
  cursor: pointer;
  padding: 0.3rem;
}

.navbarIcons{
  margin-left: auto;
}

.navbarIcon{
  margin: 0 0.8rem;
  color: #2484C5;
  transition: transform 450ms, color 0.7s;
  cursor: pointer;
}

.navbarIcon:hover{
  color: #073C8C;
  transform: scale(1.08);
}
